Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.GetDenominationsResponse" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.GetDenominationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetDenominationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Denomination">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="FaceValue" nillable="true" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="PriceValue" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="IATCurrency" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="UserFriendlyString" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="OperatorDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Image" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>