Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.PaymentRequest" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.PaymentRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Amount">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Currency" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="EventDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PaymentMethod" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PaymentReference" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="FailureReason" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="PaymentStatus">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Success" />
              <xs:enumeration value="Failure" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>