Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.SetReferralResponse" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.SetReferralResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetReferralResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="StatusCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="StatusDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>