Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.GetAccountInformationResponse" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.GetAccountInformationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetAccountInformationResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MainAccountCredit" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="MainAccountCreditExpiry" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="SubAccounts">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountType" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AllowanceRemaining" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TotalAllowance" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AllowanceUnit" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountStatus" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="AccountDescription" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ExpiryDate" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="TopupHistory">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="DateAndTime" nillable="true" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="AmountCharged" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Validity" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TopupType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Reference" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="TargetMSISDN" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TargetNetwork" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TargetCurrency" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="TargetAmount" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="errorCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>