Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.ValidateMSISDNResponse" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.ValidateMSISDNResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidateMSISDNResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="OperatorDetails" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="OperatorName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="OperatorImage" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>