Lebara.TopUpService.RAF/Lebara.TopUpService.RAF.Service/Service References/TopUpService/LebaraTopUpService37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.TopUp.Service.Schema.TopUpReversalResponse" elementFormDefault="qualified" targetNamespace="http://Lebara.TopUp.Service.Schema.TopUpReversalResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TopUpReversalResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="ErrorCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>