Lebara.TopUpService.RAF/WorkerRoleWithSBQueue1/Service References/GetNewCRMId/GenerateNewCRMId.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Lebara.Backoffice.CRM.Service" elementFormDefault="qualified" targetNamespace="http://Lebara.Backoffice.CRM.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewCRMIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Stamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCRMIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="NewCRMId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>